<%= render "shared/header" %>

<div class="sh-show-header">
  <h1 class="sh-show-title">
    <%# <%= @storehouses.folder_name %> %>
  </div>
</div>

<div class="sh-show-body">

  <%= render @storehouses %>

</div>