<div class="home-header">

  <div class="browse">
    <div class="pull-down">
      <div class="categories" id="categories">
        Category
        <ul class="show-categories hidden" id="pull-down-ct">
          <li class="pull-down-category">TASK</li>
          <li class="pull-down-category">LIST</li>
          <li class="pull-down-category">MEMO</li>
        </ul>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
        <path d="M6 9l6 6 6-6" /></svg>
      </div>
    </div>


    <div class="search-bar">
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <div class="header-title">
    <%# <% if @home.present? %>
      <%= link_to "#{current_user.name}'s HOME ［#{@home.home_name}］", home_path(@home) %>
    <%# <% else %>
      <%# <%= "#{current_user.name}'s HOME" %>
    <%# <% end %>
  </div>


  <div class="pull-down">
  <%# <div class="user-profile">My page</div> %>
    <div class="menus" id="menus">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
      <path d="M3 12h18M3 6h18M3 18h18" /></svg>
        Menu
        <ul class="show-menus hidden" id="pull-down-mn">
          <li class="pull-down-menu">
            <%= link_to "Room slection", room_homes_path %></li>
        <% if @home.present? %>
          <li class="pull-down-menu">Room member</li>
        <% end %>
          <li class="pull-down-menu">My page</li>
          <li class="pull-down-menu">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        </ul>
    </div>
  </div>

</div>
