<%= render "shared/header" %>

<div class="home-main">
  <div class="home-left">
    <div class="task-box">
    タスク
    </div>
    
    <div class="list-box">
    リスト
    </div>
    
    <div class="memo-box">
    メモ
    </div>
    
    <div class="info-box">
    情報
    </div>
    
    <div class="storehouse-box">
    保管庫
    </div>
    
    <div class="album-box">
    アルバム
    </div>
  </div>
  
  <div class="home-right">
    <div class="calendar">
    カレンダー
    </div>
    
    <div class="calendar-box">
    カレンダーメモ
    </div>
  </div>
</div>