<%= render "shared/header2" %>

<div class="form-main-rs">

  <div class="form-item-rs">

  <%# <div class="button-panel-rs"> class: "button-rs"  %>
  <%# <div class="borderless-b"> %>
    <% current_user.homes.each do |home| %>
    <%= link_to home.home_name, home_path(home), class: "link-rs" %>
    <% end %>
  <%# </div> %>

  </div>

  <div class="go-link">
    <%= link_to 'New ROOM?', new_home_path %><br>
    <%= link_to "Invitation?", new_user_invitation_path(@home) %>
  </div>

</div>
<%# </div> %>