.calendar-toppage {
  background-color: #fff;
}

.simple-calendar {
  background-color: #fff;
}
.calendar-heading{
  font-size: 1rem;
  padding: 0 0 5px 20px;
}

.col-md-4 {
  display: flex;
  justify-content: space-evenly;
}

.cl-form-wrapper {
  background: #fafafa;
  margin: 0 10px;
  padding: 30px;
  width: 370px;
}

.schedule-list {
  background-color: #fafafa;
  margin: 0 10px;
  padding: 30px;
  width: 370px;
}


/* .c-title { */
  /* margin-bottom: 0.75em; */
  /* margin-top: 1em; */
  /* width: 100%; */
/* } */
/*  */
/*  */
/* .c-title input { */
  /* background: #fafafa; */
  /* border: none; */
  /* border-bottom: 2px solid #e9e9e9; */
  /* color: #666; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-size: 1em; */
  /* height: 50px; */
  /* transition: border-color 0.3s; */
  /* width: 100%; */
/* } */
/*  */
/* .c-title input:focus { */
  /* border-bottom: 2px solid #c0c0c0; */
  /* outline: none; */
/* } */

.date-time {
  display: flex;
}

.day {}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {
}

.prev-month {}
.next-month {}
.current-month {}

.has-events {
}


.c-list-table {
  border-collapse: collapse;
  background-color: #fff;
  width: 95%;
}

/* .every-day { */
  /* background-color: #ffe9ff; */
  /* margin: 0 -6px; */
/* } */
/* .every-day:nth-child(1) { */
  /* background-color: #ffe9ff; */
/* } */
/* .every-day:nth-child(2) { */
  /* background-color: #e9fff4; */
/* } */
/* .every-day:nth-child(3) { */
  /* background-color: #ffede9; */
/* } */
/* .every-day:nth-child(4) { */
  /* background-color: #e9ecff; */
/* } */
/* .every-day:nth-child(5) { */
  /* background-color: #ffe9ef; */
/* } */


/* .schedule { */
  /* margin: 0 6px; */
/* } */