/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box;  }

.navi {
  background: skyblue;
}


.home-main{
  background: #fff;
  display: flex;
  width: auto;
  justify-content: center;
}

.home-left{
  width: 50vh;
}

.home-right{
  width: 50vh;

}