.sh-body {
  /* margin: 5em auto; */
  max-width: 100vw;
  background-color: #fff;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06); */
}

.sh-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sh-folders {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.sh-folder {
  background: #ffde9d;
  color: #fff;
  height: 100px;
  width: calc((100% / 3) - 30px);
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.2s ease-in-out; */
}
.sh-folder:hover {
  background-color: #ffcd81;
  /* transform: scale(1.05); */
}
.folder-name {
  color: #fff;
}


/* 詳細ページ */
.sh-show-header{
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
.sh-show-title{
  /* background-color: #fafafa; */
  font-size: 1.3rem;
  font-weight: 700;

}

.sh-show-body {
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.sh-show {
  background: #fff;
  max-width: 400px;
  margin: 10px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sh-images {
  display: flex;
  justify-content: space-around;
  /* 左右均等 */
  flex-wrap:  wrap;
  /* 折返し */
}
.sh-image {
  margin: 10px 0 0 0;
}



.sh-card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .sh-card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .sh-card {
    width: 100%;
  }
}
.sh-card:hover .sh-card__inner {
  background-color: #f4b250;
  transform: scale(1.05);
}
.sh-card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #949fb0;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.sh-card__inner:after {
  transition: all 0.3s ease-in-out;
}
.sh-card__inner .sh-fa {
  width: 100%;
  margin-top: 0.25em;
}
.sh-card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  font-size: 1.5em;
}
.sh-card__expander {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.sh-card__expander:hover {
  opacity: 0.9;
}
.sh-card.is-collapsed .sh-card__inner:after {
  content: "";
  opacity: 0;
}
.sh-card.is-collapsed .sh-card__expander {
  max-height: 0;
  min-height: 0;
  overflow: visible;
  margin-top: 0;
  opacity: 0;
}
.sh-card.is-expanded .sh-card__inner {
  background-color: #f4b250;
}
.sh-card.is-expanded .sh-card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.sh-card.is-expanded .sh-card__inner .fa:before {
  content: "";
}
.sh-card.is-expanded .sh-card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.sh-card.is-expanded:hover .sh-card__inner {
  transform: scale(1);
}
.sh-card.is-inactive .sh-card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.sh-card.is-inactive:hover .sh-card__inner {
  background-color: #949fb0;
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .sh-card:nth-of-type(3n+2) .sh-card__expander {
    margin-left: calc(-100% - 30px);
  }

  .sh-card:nth-of-type(3n+3) .sh-card__expander {
    margin-left: calc(-200% - 60px);
  }

  .sh-card:nth-of-type(3n+4) {
    clear: left;
  }

  .sh-card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sh-card:nth-of-type(2n+2) .sh-card__expander {
    margin-left: calc(-100% - 30px);
  }

  .sh-card:nth-of-type(2n+3) {
    clear: left;
  }

  .sh-card__expander {
    width: calc(200% + 30px);
  }
}

.sh-image {
  /* transition: 0.3s linear; */
}
.sh-image:hover {
  /* background-color: #ffa0a0; */
  /* transform: scale(1.05); */
}

.image-button {
  /* display: block; */
  background-color: #ffbfbf;
  width: 250px;
  height: 30px;
  margin-top: 10px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 0.3s linear; */
}
.image-button:hover {
  background-color: #ffa0a0;
  /* width: 250px; */
  /* height: 30px; */
}
.image-form {
  display: none;
}
